/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.fa-light {
    background-color: red;
    font-weight: 900;
    font-size: 3rem;
}

.btn-success,
.btn-danger {
    box-shadow: none !important;
}

.section {
    // position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);

    .overlay {
        position: fixed;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.3);
        display: none;
        pointer-events: none;
        // cursor: none;
    }



    &.active {
        .overlay {
            display: initial;
            pointer-events: auto;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 201;
        }

        .modal-box {
            display: flex;
            justify-content: center;
            transform: translate(-50%, -50%) scale(1);
            z-index: 204;
        }
    }

    .modal-box {
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.3s ease;
        transform: translate(-50%, -50%) scale(1.2);

        width: 100%;

        display: none;

        .container-user {
            position: relative;
            max-width: 770px;
            width: 100%;
            background: #fff;
            border-radius: 10px;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
            overflow: hidden;
            margin: 0 20px;

            .forms {
                display: flex;
                align-items: center;
                // height: 0px;
                flex-wrap: wrap;
                width: 100%;
                transition: height 0.2s ease;


                .form {
                    width: 100%;
                    padding: 30px;
                    background-color: #fff;
                    transition: margin-left 0.18s ease;

                    .title {
                        position: relative;
                        font-size: 27px;
                        font-weight: 600;
                        text-align: center;

                        &::before {
                            content: "";
                            position: absolute;
                            bottom: 0;
                            height: 3px;
                            width: 100px;
                            background-color: #2D9AA8;
                            border-radius: 25px;
                        }



                    }

                    .div {
                        position: relative;
                        text-align: center;

                        img {
                            width: 80px;
                            object-fit: cover;
                            height: 80px;
                            border-radius: 50%;
                        }

                        label {
                            position: absolute;
                            bottom: 0rem;
                            left: 53%;
                            cursor: pointer;
                            font-size: 1.3rem;
                            color: #2D9AA8;

                        }

                        input[type=file] {
                            display: none;
                        }

                    }

                    .close {

                        position: absolute;
                        right: .5rem;
                        top: .5rem;
                        font-size: 3rem !important;
                    }

                    form {
                        width: 100%;

                        .input-field {
                            position: relative;
                            height: 50px;
                            width: 100%;
                            margin-top: 30px;

                            &.textarea {
                                height: 100px;
                            }

                            &:nth-child(2) {
                                margin-left: 2rem;
                            }

                            input,
                            select {
                                position: absolute;
                                height: 100%;
                                width: 100%;
                                padding: 0 35px;
                                border: none;
                                outline: none;
                                font-size: 16px;
                                border-bottom: 2px solid #ccc;
                                border-top: 2px solid transparent;
                                transition: all 0.2s ease;

                                &:is(:focus, :valid) {
                                    border-bottom-color: #2D9AA8;
                                }

                                &:is(:focus, :valid)~.icon {
                                    color: #2D9AA8;
                                }
                            }



                            textarea {

                                height: 100%;
                                width: 100%;
                                border: none;
                                outline: none;
                                font-size: 16px;
                                padding: 0.3rem;
                                border-bottom: 2px solid #ccc;
                                transition: all 0.2s ease;
                                border-radius: .3rem;
                                resize: none;

                                &:is(:focus, :valid) {
                                    border: 2px solid #2D9AA8;
                                }


                            }

                            label {
                                background-color: #eee;
                                text-align: center;
                                width: 100%;
                                // height: 100%;
                                cursor: pointer;
                                padding: 0.5rem 3rem;
                                border-radius: 0.5rem;

                                i {
                                    font-size: 2rem;
                                    color: #2D9AA8;
                                }
                            }

                            .icon {
                                position: absolute;
                                top: 50%;
                                transform: translateY(-50%);
                                color: #999;
                                font-size: 23px;
                                transition: all 0.2s ease;
                                left: 0;
                            }

                            .eye {
                                position: absolute;
                                top: 50%;
                                transform: translateY(-50%);
                                color: #999;
                                font-size: 23px;
                                transition: all 0.2s ease;
                                right: 0;
                                cursor: pointer;
                                padding: 10px;
                            }

                            &.select {
                                margin-left: 0;

                                select {
                                    width: 50%;
                                }
                            }

                        }

                        .button {
                            margin-top: 35px;
                            position: relative;
                            height: 50px;
                            width: 100%;
                            margin-top: 30px;
                            display: flex;
                            justify-content: space-between;

                            button,a {
                                border: none;
                                color: #fff;
                                font-size: 16px;
                                font-weight: 500;
                                letter-spacing: 1px;
                                border-radius: 6px;
                                background-color: #2D9AA8;
                                cursor: pointer;
                                text-align: center;
                                transition: all 0.3s ease;
                                // position: absolute;
                                height: 100%;
                                width: 50%;
                                padding: 0 35px;
                                outline: none;
                                font-size: 16px;
                                border-top: 2px solid transparent;
                                transition: all 0.2s ease;

                               

                                &:is(:focus, :valid) {
                                    border-bottom-color: #34b4c5;
                                }


                                &:hover {
                                    background-color: #34b4c5;
                                }

                                &:last-child {
                                    margin-left: 2rem;
                                    background-color: red;

                                    &:hover {
                                        background-color: rgb(255, 54, 54);
                                    }
                                }

                            }
                        }
                    }
                }
            }
        }
    }
}

.confirm {
    // position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);

    .overlay {
        position: fixed;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.3);
        display: none;
        pointer-events: none;
        // cursor: none;
    }



    &.active {
        .overlay {
            display: initial;
            pointer-events: auto;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 201;
        }

        .modal-box {
            display: flex;
            justify-content: center;
            transform: translate(-50%, -50%) scale(1);
            z-index: 204;
        }
    }

    .modal-box {
        position: fixed;
        left: 50%;
        top: 30%;
        transform: translate(-50%, -50%);
        transition: all 0.3s ease;
        transform: translate(-50%, -50%) scale(1.2);
        width: 100%;
        height: 20rem;
        display: none;

        .container-user {
            position: relative;
            max-width: 370px;
            width: 100%;
            height: 100%;
            background: #fff;
            border-radius: 10px;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
            overflow: hidden;
            margin: 0 20px;

            .forms {
                display: flex;
                align-items: center;
                height: 100%;
                transition: height 0.2s ease;


                .form {
                    width: 100%;
                    height: 100%;
                    padding: 30px;
                    background-color: #fff;
                    transition: margin-left 0.18s ease;

                    .title {
                        position: relative;
                        font-size: 27px;
                        font-weight: 600;
                        text-align: center;

                        &::before {
                            content: "";
                            position: absolute;
                            bottom: 0;
                            height: 3px;
                            width: 100px;
                            background-color: #2D9AA8;
                            border-radius: 25px;
                        }



                    }


                    form {
                        width: 100%;

                        p {
                            text-align: center;
                            width: 100%;
                            font-size: 1.4rem;
                        }

                        .button {
                            margin-top: 35px;
                            position: relative;
                            // height: 40px;
                            width: 100%;
                            margin-top: 30px;
                            display: flex;
                            justify-content: space-between;
                            flex-direction: column;

                            button {
                                border: none;
                                color: #fff;
                                font-size: 16px;
                                font-weight: 500;
                                letter-spacing: 1px;
                                border-radius: 6px;
                                background-color: #2D9AA8;
                                cursor: pointer;
                                transition: all 0.3s ease;
                                // position: absolute;
                                height: 100%;
                                width: 100%;
                                padding: 1rem 35px;
                                outline: none;
                                font-size: 16px;
                                border-top: 2px solid transparent;
                                transition: all 0.2s ease;

                                &:is(:focus, :valid) {
                                    border-bottom-color: #2D9AA8;
                                }


                                &:hover {
                                    background-color: #2D9AA8;
                                }

                                &:last-child {
                                    margin-top: 1rem;
                                    background-color: red;
                                }

                            }
                        }
                    }
                }
            }
        }
    }
}